In [1]:
import pandas as pd

In [49]:
df = pd.read_csv("/home/d/Downloads/TrainingData.csv")

In [50]:
df.head()

   CID                                               Text  class
0    0  3fa9e6ac4a36c66b8ca3887914c6c75b08dad9095f1d7a...      3
1    1  21b7f56f644f02d51ae82c9d50f69fad686319657712d4...      2
2    2  74203af11b8bbb1d31ac34e85f3076588fbbf2dcf1a4f7...      3
3    3  6b412e99f1dea02c124a90b5f2cf29496cb84f2b2b33a0...      1
4    4  5b84fb6fc7710b0e499394d9b406950d2436a118e2d867...      1

In [51]:
df0 = df[df['class']==0]

In [52]:
df1 = df[df['class']==1]

In [53]:
newdf = pd.concat([df0, df1])

In [54]:
ndf =  newdf.drop(['CID'], axis=1)

In [55]:
ndf.reset_index(drop=True, inplace = True)

In [56]:
ndf = ndf.sample(frac=1)

In [57]:
ndf.reset_index(drop=True, inplace=True)

In [58]:
ndf

                                                    Text  class
0      bae78ef328540126dfb06000fb297f514b31dc937532d6...      0
1      04d31e54ce191deae429422c0dfe363770b7d8cea67331...      0
2      134963b574b1bda2e3e251eab8ecb96a32cd31c6a39832...      0
3      3f17283931ab72877c0cf17249fc5fd8831b226da42bc3...      1
4      25516dce64c0a1f10a261c314fcc22dbd0664753a013b4...      1
...                                                  ...    ...
40063  09c7656ff81cf4f4171406a256e4e7e0ef1f48eb5f830d...      0
40064  42bcc8dfe465851d2e646b216e6d48ccc78e650789498e...      1
40065  699c17cda642ec6fafcfa1438a9fe75fbc2e49fd40f2dc...      0
40066  841f264b1e1b4c176ff5ff13376b23ca55cae20e54f2bb...      0
40067  fa179a5816aa0c87a0afcfdea71797e1af9da7186ce80f...      1

[40068 rows x 2 columns]

In [59]:
ndf.to_csv("des_cbc_TrainingData.csv")